:root{
    --font-color1: red;
    --font-color2: rgb(12, 12, 12);
    --font-color3: rgb(255, 255, 255);
    --font-color4: rgb(111, 111, 215);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
    overflow-x:hidden; 
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--font-color2);
}
#inicio {
    color: var(--font-color3);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
}
#inicio:hover{
    cursor: pointer;
    text-decoration: underline;
    color: yellow;
}
#logoinit{
    width: 250px;
    height: 120px;
}
#search{
    display:flex;
    align-items:center;
    background-color: var(--font-color3);
    border-radius: 60px;
    width: 500px;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0);
}
#searchlogo{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 10px;
    cursor: pointer;
}
#searchbar{
    background-color: transparent;
    border-color: transparent;
    font-size: 25px;
    margin-right: 30px;
    width: 380px;
}
#searchbar::placeholder{
    font-size: 30px;
    text-align: center;
    color: rgba(10, 10, 10, 0.6);
}
#searchbar:focus{
    outline: none;
}
#search:focus-within{
    border-color: rgba(222, 167, 4, 1);
}
#user{
    display:flex;
    align-items:center;
    margin-right:20px;
    background-color: var(--font-color3);
    width: 150px;
    height: 50px;
    border-radius: 30px;
    justify-content:space-between;
    text-decoration: none;
}
#user h3{
    font-size:20px;
    margin-left:20px;
    font-weight: bold;
    margin-left:15px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--font-color2);
}
#userimg{
    width: 50px;
    height: 50px;
    border: solid black;
    background-color: var(--font-color3);
    border-width: 4px;
    border-radius: 100%;

}
#user:hover{
    background-color: var(--font-color4);
    cursor: pointer;
}
#menu{
   display: flex;
   padding-top: 30px;
   padding-bottom: 140px;
   width: 100%;
   justify-content: space-around;
   background: linear-gradient(to bottom, #1d0955, #000000);
}
#car{
    display: flex;
    width: 800px;
    height: 450px;
    overflow: hidden;
    border-radius: 50px;
    position: relative;
    justify-content: center;
}
#img-car{
    position: relative;
    width: 800px;
    height: 450px;
    z-index: 0;
    object-fit: cover;
}
#botao-tipo{
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: var(--font-color3);
    background-color: var(--font-color2);
    border-radius: 60px;
    position: absolute;
    z-index: 1;
    top: 90%;
    font-weight: bold;
    border: none;
    transition: 0.5s;
    text-transform: uppercase;
}
#botao-tipo:hover{
    color: yellow;
    cursor: pointer;
}
#info-menu{
    border-radius: 40px;
    width: 350px;
    height: 450px;
    background-color: var(--font-color2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
#info-menu h3{
   margin-top: 30px;
   color: var(--font-color3);
   font-weight: bold;
   font-size: 15px;
}
#comprar{
   width: 230px;
   height: 80px;
   margin-top: 40px;
   background-color: var(--font-color1);
   border-radius: 100px;
}
#comprar h2{
    color: var(--font-color3);
    margin-top: 25px;
    text-align: center;
    transition: 1s;
}
#comprar h3{
    margin-top: 05px;
    color: yellow;
    text-align: center;
}
#comprar:hover{
    cursor: pointer;
    & h2{
        color: yellow;
    }
}
@media (max-width: 500px){

    #inicio{
        font-size: 8px;
    }
    #logoinit{
        height: 40px;
        width: 80px;
    }
    #search{
        width: 160px;
        height: 30px;
    }
    #searchlogo{
        width: 20px;
        height: 20px;
    }
    #searchbar{
        font-size: 10px;
        width: 90px;
    }
    #searchbar::placeholder{
        font-size: 10px;
    }
    #user{
        width: 60px;
        height: 25px;
    }
    #user h3{
        font-size: 8px;
    }
    #userimg{
        width: 25px;
        height: 25px;
    }
    #menu{
        flex-direction: column;
        align-items: center;
    }
    #car{
        width: 300px;
        height: 180px;
        margin-bottom: 80px;
    }
    #img-car{
        width: 300px;
        height: 180px;
    }
    #botao-tipo{
        width: 150px;
        height: 30px;
        font-size: 15px;
        top: 86%;
    }
    #info-menu h3{
        margin-right: 0px;
        font-size: 10px;
    }
}