:root{
    --font-color1: red;
    --font-color2: rgb(0, 0, 0);
    --font-color3: rgb(255, 255, 255);
    --font-color4: rgb(111, 111, 215);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 4;
    background-color: var(--font-color2);
}
#inicio {
    color: var(--font-color3);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
}
#inicio:hover{
    cursor: pointer;
    text-decoration: underline;
    color: yellow;
}
#logoinit{
    width: 250px;
    height: 120px;
}
#search{
    display:flex;
    align-items:center;
    background-color: var(--font-color3);
    border-radius: 60px;
    width: 500px;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0);
}
#searchlogo{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 10px;
    cursor: pointer;
}
#searchbar{
    background-color: transparent;
    border-color: transparent;
    font-size: 25px;
    margin-right: 30px;
    width: 380px;
}
#searchbar::placeholder{
    font-size: 30px;
    text-align: center;
    color: rgba(10, 10, 10, 0.6);
}
#searchbar:focus{
    outline: none;
}
#search:focus-within{
    border-color: rgba(222, 167, 4, 1);
}
#user{
    display:flex;
    align-items:center;
    margin-right:20px;
    background-color: var(--font-color3);
    width: 150px;
    height: 50px;
    border-radius: 30px;
    justify-content:space-between;
    text-decoration: none;
}
#user h3{
    font-size:20px;
    margin-left:20px;
    font-weight: bold;
    margin-left:15px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--font-color2);
}
#userimg{
    width: 50px;
    height: 50px;
    border: solid black;
    background-color: var(--font-color3);
    border-width: 4px;
    border-radius: 100%;

}
#user:hover{
    background-color: goldenrod;
    cursor: pointer;
}
#info{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 200px;
    background-color: rgb(33, 31, 31) ;
}
#base{
    display: flex;
    height: 700px;
    width: 100%;
    align-items: center;
}
#cityimg{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: solid black;
    border-radius: 100%;
    border-width: 10px;
    background-color: var(--font-color3);
    margin-right: 200px;
    margin-left: 50px;
}
#base-info{
    margin-left: 200px;
    margin-right: 50px;
}
#base-info h1{
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 50px;
    color: var(--font-color3);
    font-family:'Times New Roman', Times, serif;
}
#info-year{
    font-weight: bold;
    font-size: 30px;
    color: goldenrod;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 50px;
}
#info-text{
    font-weight: bold;
    font-size: 25px;
    color: var(--font-color3);
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 50px;
}
#ld{
    width: 50px;
    height: 50px;
}
#ldimg{
    width: 50px;
    height: 50px;
    margin-top: 50px;
    transition: 1s;
}
#ldimg:hover{
    transform: translateY(5px);
}
#ld:hover{
    cursor: pointer;
}

@media (max-width: 500px){

    #inicio{
        font-size: 8px;
    }
    #logoinit{
        height: 40px;
        width: 80px;
    }
    #search{
        width: 160px;
        height: 30px;
    }
    #searchlogo{
        width: 20px;
        height: 20px;
    }
    #searchbar{
        font-size: 10px;
        width: 90px;
    }
    #searchbar::placeholder{
        font-size: 10px;
    }
    #user{
        width: 60px;
        height: 25px;
    }
    #user h3{
        font-size: 8px;
    }
    #userimg{
        width: 25px;
        height: 25px;
    }
    #info{
        padding-bottom: 350px;
    }
    #base{
        flex-direction: column;
        justify-content: center;
        margin-left: 0px;
        height: 1100px;
    }
    #cityimg{
      width: 200px;
      height: 200px;
      margin-right: 0;
      margin-left: 0;
    }
    #base-info{
        margin-left: 0;
        width: 80%;
    }
    #base-info h1{
        text-align: center;
        margin-right: 0;
    }
    #base-info h3{
        text-align: center;
        margin-right: 0;
    }




}
